@{
    ViewData["Title"] = "Forgot Password";
}

<h2>Forgot Password</h2>

<form method="post" action="/Auth/SendCode">
    <div class="mb-3">
        <label>Email</label>
        <input type="email" name="email" class="form-control" required />
    </div>

    <button type="submit" class="btn btn-primary">Send Code</button>

    @if (ViewBag.Error != null)
    {
        <p class="text-danger mt-2">@ViewBag.Error</p>
    }
</form>
